.container3 {
  background-image: linear-gradient(180deg, #fdb14d, #7920c7);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.image-grid-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-top: -70px;
  align-items: center;
}

.image-grid-row2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-top: -100px;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 60px;
}

.imgcont01 {
  display: flex;
  width: 300px;
}

.imgcont02 {
  display: flex;
  width: 350px;
}

.imgcont03 {
  display: flex;
  width: 200px;
}

.imgcont04 {
  display: flex;
  width: 250px;
}

a {
  z-index: 2;
  text-decoration: none;
  cursor: pointer;
}

.text-on-img01,
.text-on-img02,
.text-on-img03,
.text-on-img04 {
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(
    90deg,
    #c7732071,
    #650f80,
    #c7732065,
    #610e7b
  );
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
  text-align: center;
  display: flex;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.text-on-img01 {
  height: 300px;
  width: 300px;
  margin-right: -300px;
}

.text-on-img02 {
  height: 350px;
  width: 350px;
  margin-right: -350px;
}

.text-on-img03 {
  height: 200px;
  width: 200px;
  margin-right: -200px;
}

.text-on-img04 {
  height: 250px;
  width: 250px;
  margin-right: -250px;
}

.text-on-img01:hover,
.text-on-img02:hover,
.text-on-img03:hover,
.text-on-img04:hover {
  opacity: 0;
}

.see-more01,
.see-more02,
.see-more03,
.see-more04 {
  z-index: 1;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: #7920c763;
  text-align: center;
  display: flex;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.see-more01 p,
.see-more02 p,
.see-more03 p,
.see-more04 p {
  padding-top: 80px;
}

.see-more01 {
  height: 300px;
  width: 300px;
  opacity: 1;
  margin-right: -300px;
}

.see-more02 {
  height: 350px;
  width: 350px;
  opacity: 1;
  margin-right: -350px;
}

.see-more03 {
  height: 200px;
  width: 200px;
  opacity: 1;
  margin-right: -200px;
}

.see-more04 {
  height: 250px;
  width: 250px;
  opacity: 1;
  margin-right: -250px;
}

#images01 img {
  z-index: 0;
  margin-right: -300px;
  float: right;
}

#images02 img {
  z-index: 0;
  margin-right: -350px;
  float: right;
}

#images03 img {
  z-index: 0;
  margin-right: -200px;
  float: right;
}

#images04 img {
  z-index: 0;
  margin-right: -250px;
  float: right;
}

.bubble01 {
  margin-right: 30px;
  margin-bottom: 200px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble02 {
  margin-right: 20px;
  margin-left: 80px;
  margin-bottom: 190px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble03 {
  margin-right: 10px;
  margin-left: 120px;
  margin-bottom: 200px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble04 {
  margin-right: 10px;
  margin-left: 60px;
  margin-bottom: -150px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble05 {
  margin-right: 10px;
  margin-left: -220px;
  margin-bottom: 170px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble06 {
  margin-left: -20px;
  margin-right: 110px;
  margin-bottom: -170px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble07 {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -190px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

.bubble08 {
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: -250px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #7920c7, #650f80, #7920c7, #610e7b);
  -webkit-animation: gradientChange 6s infinite linear normal;
  -moz-animation: gradientChange 6s infinite linear normal;
  animation: gradientChange 6s infinite linear normal;
  background-size: 300% 300%;
}

@-webkit-keyframes gradientChange {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@-moz-keyframes gradientChange {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes gradientChange {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

p {
  margin: auto;
}

#logos h1,
#productdesign h1,
#patterns h1,
#artwork h1 {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 50px;
}

@-webkit-keyframes imgFade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes imgFade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes imgFade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imgFade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#images01 img,
#images02 img,
#images03 img,
#images04 img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 14s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 14s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 14s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
}
#images01 img:nth-of-type(1),
#images02 img:nth-of-type(1),
#images03 img:nth-of-type(1),
#images04 img:nth-of-type(1) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#images01 img:nth-of-type(2),
#images02 img:nth-of-type(2),
#images03 img:nth-of-type(2),
#images04 img:nth-of-type(2) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
#images01 img:nth-of-type(3),
#images02 img:nth-of-type(3),
#images03 img:nth-of-type(3),
#images04 img:nth-of-type(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#images01 img:nth-of-type(4),
#images02 img:nth-of-type(4),
#images03 img:nth-of-type(4),
#images04 img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

@media screen and (max-width: 1700px) {
  .container3 {
    padding-left: 0;
  }
  .image-grid-row {
    overflow: hidden;
    width: 100%;
  }
  .image-grid-row2 {
    overflow: hidden;
    width: 100%;
  }
  .bubble01 {
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
  .bubble04 {
    display: none;
  }
  .bubble08 {
    display: none;
  }
  .bubble03 {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .bubble06 {
    width: 200px;
    height: 200px;
  }
  .bubble03 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1300px) {
  .bubble01 {
    width: 100px;
    height: 100px;
    margin-right: 0px;
  }
  .bubble03 {
    width: 150px;
    height: 150px;
  }
  .bubble03 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1200px) {
  #images01 img {
    width: 250px;
    height: auto;
    margin-right: -250px;
  }
  .see-more01,
  .text-on-img01 {
    width: 250px;
    height: 250px;
    margin-right: -250px;
  }
  #images02 img {
    width: 300px;
    height: auto;
    margin-right: -300px;
  }
  .see-more02,
  .text-on-img02 {
    width: 300px;
    height: 300px;
    margin-right: -300px;
  }
  .bubble03 {
    margin-left: 20px;
  }
  .bubble02 {
    margin-left: 20px;
  }
  .bubble06 {
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-left: 20px;
  }
  .bubble07 {
    margin-left: 50px;
  }
  .image-grid-row2 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #images02 img {
    width: 200px;
    height: auto;
    margin-right: -200px;
  }
  .see-more02,
  .text-on-img02 {
    width: 200px;
    height: 200px;
    margin-right: -200px;
  }
  .imgcont01,
  .imgcont02 {
    width: 200px;
  }
  .bubble07 {
    margin-left: 30px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1000px) {
  #images01 img,
  #images04 img {
    width: 200px;
    height: auto;
    margin-right: -200px;
  }
  .see-more01,
  .text-on-img01,
  .see-more04,
  .text-on-img04 {
    width: 200px;
    height: 200px;
    margin-right: -200px;
  }
  .bubble06 {
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 850px) {
  .bubble03,
  .bubble06 {
    width: 100px;
    height: 100px;
  }
  .image-grid-row2 {
    margin-top: -50px;
  }
}

@media screen and (max-width: 800px) {
  .image-grid-row,
  .image-grid-row2 {
    grid-template-columns: repeat(2, auto);
    padding: 0px;
    margin: auto;
    padding-top: 50px;
    justify-items: center;
  }
  .imgcont01,
  .imgcont02,
  .imgcont03,
  .imgcont04 {
    width: 200px;
  }

  .bubble01,
  .bubble02,
  .bubble03,
  .bubble04,
  .bubble05,
  .bubble06,
  .bubble07,
  .bubble08 {
    display: none;
  }
  .see-more01,
  .see-more02,
  .see-more03,
  .see-more04 {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 80px;
    font-size: 18px !important;
  }
  .see-more01,
  .text-on-img01,
  .see-more02,
  .text-on-img02,
  .see-more03,
  .text-on-img03,
  .see-more04,
  .text-on-img04 {
    font-size: 25px;
    background-image: linear-gradient(
      90deg,
      #c773205e,
      #660f8067,
      #c773206d,
      #620e7b65
    );
  }
}

@media screen and (max-width: 500px) {
  .image-grid-row,
  .image-grid-row2 {
    grid-template-columns: 100%;
    align-items: center;
    padding-top: 0px;
  }

  #images01 img,
  #images02 img,
  #images03 img,
  #images04 img {
    width: 300px;
    height: auto;
    margin-right: -300px;
  }
  .see-more01,
  .see-more02,
  .see-more03,
  .see-more04 {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 80px;
    font-size: 18px !important;
  }
  .see-more01,
  .text-on-img01,
  .see-more02,
  .text-on-img02,
  .see-more03,
  .text-on-img03,
  .see-more04,
  .text-on-img04 {
    width: 300px;
    height: 300px;
    margin-right: -300px;
    font-size: 25px;
    background-image: linear-gradient(
      90deg,
      #c773205e,
      #660f8067,
      #c773206d,
      #620e7b65
    );
  }
  .imgcont01,
  .imgcont02,
  .imgcont03,
  .imgcont04 {
    width: 300px;
    padding-top: 100px;
  }
}
